* {

    margin: 0;

    padding: 0;

    -webkit-box-sizing: border-box;

    -moz-box-sizing: border-box;

    box-sizing: border-box;

}



body {

    font-family: Arial, Sans-serif;

    background: #1c1d1c;

    color: #ece3e3;
    margin: 0px 350px 0px 250px;
   

}
h1{
    text-align: center;
    border-color: #e1f14b;
    border-style: double;
    border-width: 10px;
    width: 600px;
    margin: 20px;
}
.pp{
    text-align: center;
    background-color: #eee5e9;
    padding: 5px;
    border-radius: 100px;

}
.ss{
    text-align: center;
    line-height: 32px;
    

}



.contenedor {

    width: 600px;

    margin: 20px;

    background: #eee5e9;

    padding: 20px;
    border-color: #171816;
    border-style: double;
    border-width: 10px;
    background-image: url(https://previews.123rf.com/images/cherezoff/cherezoff1801/cherezoff180100307/93024587-fondo-abstracto-con-n%C3%BAmeros-volar-n%C3%BAmeros-sobre-fondo-negro.jpg);

}



form p {

    text-align: center;

    margin-bottom: 20px;

    font-size: 30px;

}



input[type="text"]{

    width: 100%;

    margin-bottom: 20px;

    padding: 20px;

    text-align: center;

}



form .btn {

    width: 100%;

    background: #cf5c36;

    color: #fff;

    border:none;

    cursor: pointer;

    font-size: 16px;

    text-align: center;

    padding: 20px;

    display: inline-block;

    text-decoration: none;

}